.btq1{
    background-color: rgb(202, 196, 196);
    color: rgb(38, 24, 245);
    padding: 5px 8px;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    transition: all .3s ease;
}

.btq1:hover{
    background-color: rgb(38, 24, 245);
    color: rgb(255, 255, 255);

}

.btq2{
    background-color: rgb(202, 196, 196);
    color: rgb(38, 24, 245);
    padding: 5px 8px;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    transition: all .3s ease;
}

.btq2:hover{
    background-color: rgb(38, 24, 245);
    color: rgb(255, 255, 255);

}

.btq3{
    background-color: rgb(202, 196, 196);
    color: rgb(38, 24, 245);
    padding: 5px 8px;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    transition: all .3s ease;
}

.btq3:hover{
    background-color: rgb(38, 24, 245);
    color: rgb(255, 255, 255);

}

.btq4{
    background-color: rgb(202, 196, 196);
    color: rgb(38, 24, 245);
    padding: 5px 8px;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    transition: all .3s ease;
}

.btq4:hover{
    background-color: rgb(38, 24, 245);
    color: rgb(255, 255, 255);

}

.btq5{
    background-color: rgb(202, 196, 196);
    color: rgb(38, 24, 245);
    padding: 5px 8px;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    transition: all .3s ease;
}

.btq5:hover{
    background-color: rgb(38, 24, 245);
    color: rgb(255, 255, 255);

}

.btq6{
    background-color: rgb(202, 196, 196);
    color: rgb(38, 24, 245);
    padding: 5px 8px;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    transition: all .3s ease;
}

.btq6:hover{
    background-color: rgb(38, 24, 245);
    color: rgb(255, 255, 255);

}

.btq7{
    background-color: rgb(202, 196, 196);
    color: rgb(38, 24, 245);
    padding: 5px 8px;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    transition: all .3s ease;
}

.btq7:hover{
    background-color: rgb(38, 24, 245);
    color: rgb(255, 255, 255);

}

.btq8{
    background-color: rgb(202, 196, 196);
    color: rgb(38, 24, 245);
    padding: 5px 8px;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    transition: all .3s ease;
}

.btq8:hover{
    background-color: rgb(38, 24, 245);
    color: rgb(255, 255, 255);

}

.btq9{
    background-color: rgb(202, 196, 196);
    color: rgb(38, 24, 245);
    padding: 5px 8px;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    transition: all .3s ease;
}

.btq9:hover{
    background-color: rgb(38, 24, 245);
    color: rgb(255, 255, 255);

}

.btq10{
    background-color: rgb(202, 196, 196);
    color: rgb(38, 24, 245);
    padding: 5px 8px;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    transition: all .3s ease;
}

.btq10:hover{
    background-color: rgb(38, 24, 245);
    color: rgb(255, 255, 255);

}

.btq11{
    background-color: rgb(202, 196, 196);
    color: rgb(38, 24, 245);
    padding: 5px 8px;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    transition: all .3s ease;
}

.btq11:hover{
    background-color: rgb(38, 24, 245);
    color: rgb(255, 255, 255);

}

.btq12{
    background-color: rgb(202, 196, 196);
    color: rgb(38, 24, 245);
    padding: 5px 8px;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    transition: all .3s ease;
}

.btq12:hover{
    background-color: rgb(38, 24, 245);
    color: rgb(255, 255, 255);

}

.btq13{
    background-color: rgb(202, 196, 196);
    color: rgb(38, 24, 245);
    padding: 5px 8px;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    transition: all .3s ease;
}

.btq13:hover{
    background-color: rgb(38, 24, 245);
    color: rgb(255, 255, 255);

}

.btq14{
    background-color: rgb(202, 196, 196);
    color: rgb(38, 24, 245);
    padding: 5px 8px;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    transition: all .3s ease;
}

.btq14:hover{
    background-color: rgb(38, 24, 245);
    color: rgb(255, 255, 255);

}

.btq15{
    background-color: rgb(202, 196, 196);
    color: rgb(38, 24, 245);
    padding: 5px 8px;
    border: 1px solid rgb(3, 3, 3);
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    transition: all .3s ease;
}

.btq15:hover{
    background-color: rgb(38, 24, 245);
    color: rgb(255, 255, 255);

}